<!--修改实验室简介-->
{include file="public/toper" /}
<div class="layui-tab layui-tab-brief main-tab-container">
  <div class="layui-tab-content">
    <form class="layui-form" action="" >
    {volist name="lab" id = "vo"}
      <div class="layui-form-item">
        <label class="layui-form-label">实验室名称</label>
        <div class="layui-input-block">
          <input type="text" name="name" lay-verify="name" autocomplete="off" placeholder="请输入实验室名称" class="layui-input" style="width:300px;" id="name" value="{$vo.name}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">实验室电话</label>
        <div class="layui-input-block">
          <input type="text" name="tel"  autocomplete="off" placeholder="请输入实验室联系电话" class="layui-input" style="width:300px;" id="tel" value="{$vo.tel}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">实验室邮箱</label>
        <div class="layui-input-block">
          <input type="text" name="email" lay-verify="email" autocomplete="off" placeholder="请输入实验室邮箱号" class="layui-input" style="width:300px;" id="tel" value="{$vo.email}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">实验室地址</label>
        <div class="layui-input-block">
          <input type="text" name="address" autocomplete="off" placeholder="请输入实验室地址" class="layui-input" style="width:300px;" id="address" value="{$vo.address}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">实验室研究方向</label>
        <div class="layui-input-block">
          <input type="text" name="fields" autocomplete="off" placeholder="请输入研究方向" class="layui-input" style="width:300px;" id="fields" value="{$vo.fields}">
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label" style="padding-right:25px">详细介绍</label>
        <div class="layui-input-block">
           <script id="content" type="text/plain" name="content" style="width:100%;">{$vo.introduce}</script> 
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn submit_btn" lay-submit="" id="{$vo.id}" lay-filter="member_edit">立即提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
       </div>
      {/volist}
    </form>
  </div>
</div>
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script> 
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script> 
<script type="text/javascript">
   UE.getEditor('content'); 
</script> 
<script type="text/javascript">
layui.use(['element', 'form', 'upload', 'layedit', 'laydate'], function(){
  var element = layui.element()
  ,form = layui.form()
  ,layedit = layui.layedit
  ,laydate = layui.laydate
  ,$ = layui.jquery;
  //监听提交
  form.on('submit(member_edit)', function(data){
    var param = data.field;
    var id = $('.submit_btn').attr('id');
    param['id']=id;
    var index =  parent.layer.getFrameIndex(window.name);
    if(''==param['name']){
        layer.tips('名称不能为空', $("#name"));
        $('#name').focus(); 
        return false;
    }else if(''==param['fields']){
        layer.tips('研究方向不能为空', $("#fields"));
        $('#fields').focus(); 
        return false;
    }
     $.post('{:url("Lab/edit")}',param,function(data){
      if(data.code == 200){
        layer.msg(data.msg, {icon: 1, time: 1000}, function(){
        parent.layer.close(index);
        parent.location.href="{:url('Lab/introduce')}";
        });
      }else{
        layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
      }
    });
    return false;
  });
});
</script>
{include file="public/footer" /}