{include file="public/toper" /}
	<div class="layui-tab layui-tab-brief main-tab-container"> 
     <form class="layui-form layui-form-pane search-form" style="margin:10px" action="{:url('Project/projectList')}" method="post">
        <div class="layui-form-item"> 
          <div class="layui-input-inline">
            <input type="text" id= "search" name="search" value="" lay-verify="" placeholder="请输入标题搜索" autocomplete="off" class="layui-input">
          </div>
          <button class="layui-btn search_btn" type="submit">搜索</button>
        </div>
         <a class="layui-btn layui-btn-warm add_btn"><i class="layui-icon">&#xe608;</i>添加成果</a>
       
      </form>
    <form class="layui-form">

    	<table class="list-table">
        </colgroup>
    		<thead>
    		<th>项目名称</th>
				<th>项目来源</th>
				<th>项目编号</th>
				<th>进度</th>
				<th>时间</th>
        <th>项目地址</th>
		    <th>状态</th>
				<th>操作</th>
    		</thead>
    		<tbody>
    			{volist name="project" id="vo"}
    			<tr>
    				<td  title="{$vo.name}"><a href="#">{$vo.name}</a></td>
					  <td  title="{$vo.source}"><a href="#">{$vo.source}</a></td>
            <td  title="{$vo.no}"><a href="#">{$vo.no}</a></td>
					  <td>{if condition="$vo.progress eq 0"}<span class ="newsone">已申请</span>{elseif condition="$vo.progress eq 1"}<span class="newstwo">已获批</span>{else/}{/if}</td>
            <td>{$vo.date}</td>
            <td>{$vo.projectSrc}</td>
    			    {if condition="$vo.status eq 0"}
    			    <td class="status_btn"><span class ="statusone">未发表</span></td>
    			    <td style="text-align: center;">
    			    <a class="layui-btn layui-btn-small pub_btn" id = "{$vo.id}" title="发布" ><i class="layui-icon">&#xe609;</i></a>
    			    {elseif condition="$vo.status eq 1"}
    			    <td class="status_btn"><span class="statustwo">已发表</span></td>
    			    <td style="text-align: center;">
    			    <a class="layui-btn layui-btn-primary layui-btn-small down_btn" id = "{$vo.id}" title="回收" ><i class="layui-icon">&#xe609;</i></a>
    			    {else/}
    			    <td class="status_btn"><span class ="statusthree">已回收</span></td>
    			    <td style="text-align: center;">
    			    <a class="layui-btn layui-btn-small pub_btn" id = "{$vo.id}" title="发布" ><i class="layui-icon">&#xe609;</i></a>
    			    {/if} 
                    <a class="layui-btn layui-btn-small edit_btn" id = "{$vo.id}" name="{$vo.name}" title="编辑" status="{$vo.status}" url="{:url('Project/Edit',array('id'=>$vo.id))}"><i class="layui-icon"></i></a>
                    <a class="layui-btn layui-btn-small layui-btn-danger del_btn" id="{$vo.id}" status="{$vo.status}"s title="删除" ><i class="layui-icon"></i></a>
                    </td>
                </tr>
    			{/volist}
    		</tbody>
    	</table>
    	<div class="pagelist">
    	{$page}
    	</div>
    </form>
</div>
<script>
layui.use(['element','form','laypage','layer'],function(){
	var element=layui.element()
	,form = layui.form()
	,$ = layui.jquery
	,laypage=layui.laypage
	,layer=layui.layer;
    
    //添加
    $('.add_btn').click(function(){
       layer.open({
       type: 2,
       area: ['700px', '530px'],
       fixed: false, //不固定
       maxmin: true,
       content: '{:url("Project/Add")}'
     });

    });
    //编辑文章
    $('.edit_btn').click(function(){
    	var status = $(this).attr('status');
    	var id = $(this).attr('id');
      var name = $(this).attr('name');
      var url = $(this).attr('url');
    	if(status==1){
    		layer.msg('您的消息已经推送,请先回收之后再修改', {icon: 5});
    	}else{
    		
            layer.open({
            type: 2,
            area: ['700px', '530px'],
            fixed: false, //不固定
            maxmin: true,
            content: url
        });
        }
   });

    //删除文章
	$('.del_btn').click(function(){
      var id = $(this).attr('id');
       var status = $(this).attr('status');
      if(status==1){
    		layer.msg('您的消息已经推送,请先回收之后再修改', {icon: 5});
    	}else{
      layer.confirm('确定删除这条项目?', function(index){
      loading = layer.load(2, {
      shade: [0.2,'#000'] //0.2透明度的白色背景
      });
      $.post('{:url("Project/Del")}',{'id':id},function(data){
        if(data.code == 200){
         layer.close(loading);
         layer.msg(data.msg, {icon: 1, time: 1000}, function(){
         location.reload();//do something
         });
        }else{
         layer.close(loading);
         layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
        }
      });
     });
      }
    });

    //发表文章
    $('.pub_btn').click(function(){
      var id = $(this).attr('id');
      layer.confirm('确定发表这条消息?', function(index){
      loading = layer.load(2, {
      shade: [0.2,'#000'] //0.2透明度的白色背景
      });
      $.post('{:url("Project/Pub")}',{'id':id},function(data){
        if(data.code == 200){
         layer.close(loading);
         layer.msg(data.msg, {icon: 1, time: 1000}, function(){
         location.reload();//do something
         });
        }else{
         layer.close(loading);
         layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
        }
      });
     });
    });

    //回收文章
    $('.down_btn').click(function(){
      var id = $(this).attr('id');
      layer.confirm('确定回收这条消息?', function(index){
      loading = layer.load(2, {
      shade: [0.2,'#000'] //0.2透明度的白色背景
      });
      $.post('{:url("Project/stop")}',{'id':id},function(data){
        if(data.code == 200){
         layer.close(loading);
         layer.msg(data.msg, {icon: 1, time: 1000}, function(){
         location.reload();//do something
         });
        }else{
         layer.close(loading);
         layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
        }
      });
     });
    });
	form.on('checkbox(checkAll)',function(data){
		var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
		child.each(function(index,item){
			item.checked = data.elem.checked;
		});
		form.render('checkbox');
	 });
  });

</script>
{include file="public/footer" /}