<!-- header -->
{include file="Public/header" /}
<!-- header -->
<section id="blog">
{volist name="display" id="vo"}
 <div class="container" style="margin-top: 50px">
            <div class="blog">
                <div class="row">
                    <div class="col-md-10">
                        <div class="blog-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 text-center">

                                    <div class="entry-meta">
                                        <span id="publish_date"></span>
                                        <span><i class="fa fa-user"></i> <a href="#"></a></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h2 class="center">软著图片展示</h2>


                                    <div class="blog-content">
                                        {$vo['content']}
                                    </div>

                                    <!-- 文章附件 -->
                                    <!--{template 'shared/attachment'}-->


                                </div>
                            </div>
                        </div><!--/.blog-item-->



                        <div id="contact-page clearfix">
                            <div class="status alert alert-success" style="display: none"></div>


                        </div><!--/#contact-page-->
                    </div><!--/.col-md-8-->


                </div><!--/.row-->

            </div><!--/.blog-->
        </div>

    {/volist}
</section>
<!-- footer -->
{include file="Public/footer" /}
<!-- footer -->
</body>
</html>