{include file="public/toper" /}
<style>
.file {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #99D3F5;
  border-radius: 1px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 30px;
}
.file_input{
  height:38px;
  border: 1px solid #e2e2e2
}
.layui-upload-button{
  display:none;
}
</style>
<div class="layui-tab layui-tab-brief main-tab-container">
    <div class="layui-tab-content">
      <form class="layui-form" action="" >
      {volist name="prize" id="vo"}
        <div class="layui-form-item">
          <label class="layui-form-label">奖项名称</label>
          <div class="layui-input-block">
            <input type="text" name="prize" lay-verify="prize" autocomplete="off" placeholder="请输入名称" class="layui-input" style="width:300px;" id="prize" value="{$vo.prize}">
          </div>
          </div>
          <div class="layui-form-item">
           <label class="layui-form-label">获奖时间</label>
           <div class="layui-input-block">
            <input type="text" name="date" autocomplete="off" placeholder="请输入获奖时间" class="layui-input" style="width:300px;" id="date" value="{$vo.date}">
          </div>
        </div>
        <div class="layui-form-item">
        <label class="layui-form-label">上传图片</label>
        <div class="layui-input-block">
           <script id="content" type="text/plain" name="content" style="width:100%;">{$vo.content}</script> 
        </div>
      </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
           <button class="layui-btn submit_btn" lay-submit=""  id=" {$vo.id}" lay-filter="prize_edit">立即提交</button>
           <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
        {/volist}
      </form>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script> 
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script> 
<script type="text/javascript">
    UE.getEditor('content'); 
</script> 
<script type="text/javascript">

layui.use(['element', 'form', 'upload', 'layedit', 'laydate'], function(){
  var element = layui.element()
  ,form = layui.form()
  ,layedit = layui.layedit
  ,laydate = layui.laydate
  ,$ = layui.jquery;
 var fileSrc   = "";
  //图片上传
  // layui.upload({
  // url: '{:url("Achievement/upload")}' //上传接口
  // ,ext: 'jpg|png|gif'
  // ,success: function(res){ //上传成功后的回调
  //   fileSrc  = res['src'];
  // }
  // });
  //监听提交
  form.on('submit(prize_edit)', function(data){
    var param = data.field;
     var id = $('.submit_btn').attr('id');
    param['id'] = id;
    // param['file'] = fileSrc;
    if(content==""){
      param['content'] ="";
     }
    var index =  parent.layer.getFrameIndex(window.name);
    console.log(JSON.stringify(data.field));
    console.log(JSON.stringify(index));
    if(''==param['prize']){
        layer.tips('标题不能为空', $("#prize"));
        $('#prize').focus(); 
        return false;
    }
     $.post('{:url("Prize/Edit")}',param,function(data){
      if(data.code == 200){
        layer.msg(data.msg, {icon: 1, time: 1000}, function(){
          parent.layer.close(index);
         parent.location.href="{:url('Prize/prizelist')}";
        });
      }else{
        
        layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
      }
    });
    return false;
  });
})
</script>

{include file="public/footer" /}