<footer id="footer" class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href=""><i class="fa fa-copyright"></i>& <span style="color: #ff3333;">NSAS</span>  保留所有权利.</a>
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                   
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->
<script src="__INDEX__/js/jquery.js"></script>
<script src="__INDEX__/js/bootstrap.min.js"></script>
<script src="__INDEX__/js/jquery.prettyPhoto.js"></script>
<script src="__INDEX__/js/jquery.isotope.min.js"></script>
<script src="__INDEX__/js/main.js"></script>
<script src="__INDEX__/js/wow.min.js"></script>