
<div class="layui-form-item">
  <label class="layui-form-label" style="padding-right:10px">学历</label>
  <div class="layui-input-block">
   <input type="text" name="educate" lay-verify="educate" autocomplete="off" placeholder="请输入学历" class="layui-input" style="width:300px;" id="educate" >
  </div>
</div>
<div class="layui-form-item">
<label class="layui-form-label" style="padding-right:10px">专业</label>
<div class="layui-input-block">
  <input type="text" name="major" lay-verify="major" autocomplete="off" placeholder="请输入专业" class="layui-input" style="width:300px;" id="major" >
</div>
</div>
<div class="layui-form-item">
<label class="layui-form-label" style="padding-right:10px">就职公司</label>
 <div class="layui-input-block">
  <input type="text" name="company" lay-verify="company" autocomplete="off" placeholder="请输入就职公司" class="layui-input" style="width:300px;" id="company" >
 </div>
</div>
<div class="layui-form-item">
<label class="layui-form-label" style="padding-right:10px">职位</label>
 <div class="layui-input-block">
  <input type="text" name="job" lay-verify="job" autocomplete="off" placeholder="请输入职位" class="layui-input" style="width:300px;" id="job" >
 </div>
</div>
<div class="layui-form-item">
<label class="layui-form-label" style="padding-right:10px">毕业年份</label>
 <div class="layui-input-block">
  <input type="text" name="gra_time" lay-verify="gra_time" autocomplete="off" placeholder="请输入毕业年份" class="layui-input" style="width:300px;" id="gra_time" >
 </div>
</div>
