{include file="public/toper" /}
<div class="layui-tab layui-tab-brief main-tab-container"> 
  <form class="layui-form layui-form-pane search-form" style="margin:10px" action="{:url('Member/student')}" method="post">
    <div class="layui-form-item"> 
      <div class="layui-input-inline">
        <input type="text" id= "search" name="search" value="" lay-verify="" placeholder="请输入标题搜索" autocomplete="off" class="layui-input">
      </div>
      <button class="layui-btn search_btn" type="submit">搜索</button>
    </div>
    <a class="layui-btn layui-btn-warm add_btn"><i class="layui-icon">&#xe608;</i>添加成员</a>
  </form>
  <form class="layui-form">
    <table class="list-table">
      <thead>
      <th style ="width:10%">姓名</th>
      <th style="width:10%">学历</th>
      <th style="width:10%">年级</th>
      <th style="width:10%">专业</th>
      <th style="width:20%">研究方向</th>
      <th style="width:10%">邮箱</th>
      <th style="width:10%">状态</th>
      <th style="width:20%">操作</th>
    </thead>
    <tbody>
    {if condition="$count_student neq 0"}
    {volist name="student" id="vo"}
      <tr>
        <td title="{$vo.name}"><a href="#">{$vo.name}</a></td>
        <td title="{$vo.educate}"><a href="#">{$vo.educate}</a></td>
        <td title="{$vo.degree}"><a href="#">{$vo.degree}</a></td>
        <td title="{$vo.major}"><a href="#">{$vo.major}</a></td>
        <td title="{$vo.area}"><a href="#">{$vo.area}</a></td>
        <td title="{$vo.email}"><a href="#">{$vo.email}</a></td>
        {if condition="$vo.status eq 0"}
        <td class="status_btn"><span class ="statusone">未推送</span></td>
        <td style="text-align: center;">
            <a class="layui-btn layui-btn-small pub_btn" id = "{$vo.id}" title="发布" ><i class="layui-icon">&#xe609;</i></a>
        {elseif condition="$vo.status eq 1"}
        <td class="status_btn"><span class="statustwo">已推送</span></td>
        <td style="text-align: center;">
            <a class="layui-btn layui-btn-primary layui-btn-small down_btn" id = "{$vo.id}" title="回收" ><i class="layui-icon">&#xe609;</i></a>
        {else/}
        <td class="status_btn"><span class ="statusthree">已回收</span></td>
        <td style="text-align: center;">
             <a class="layui-btn layui-btn-small pub_btn" id = "{$vo.id}" title="发布" ><i class="layui-icon">&#xe609;</i></a>
        {/if} 
          <a class="layui-btn layui-btn-small edit_btn" id = "{$vo.id}" name="{$vo.name}" title="编辑" status="{$vo.status}" url="{:url('Member/Edit',array('id'=>$vo.id,'type'=>$vo.type))}"><i class="layui-icon"></i></a>
          <a class="layui-btn layui-btn-small layui-btn-danger del_btn" id="{$vo.id}" title="删除" status="{$vo.status}"><i class="layui-icon"></i></a>
        </td>
        </tr>
        {/volist}
        {else/}
        <td style="width:100%;text-align:center" colspan="9">暂无数据</td>
        {/if}
      </tbody>
    </table>
    <div class="pagelist">
    {$page_student}
    </div>
  </form>
</div>
<script>
layui.use(['element','form','laypage','layer'],function(){
	var element=layui.element()
	,form = layui.form()
	,$ = layui.jquery
	,laypage=layui.laypage
	,layer=layui.layer;
    
    //添加
   $('.add_btn').click(function(){
      var index =  layer.open({
       type: 2,
       area: ['700px', '530px'],
       fixed: false, //不固定
       maxmin: true,
       content: '{:url("Member/Add")}'
     });
     layer.full(index);
    });
    //编辑
    $('.edit_btn').click(function(){
    	var status = $(this).attr('status');
    	var id = $(this).attr('id');
      var name = $(this).attr('name');
      var url = $(this).attr('url');
    	if(status==1){
    		layer.msg('您的消息已经推送,请先回收之后再修改', {icon: 5});
    	}else{
    		
            var index = layer.open({
            type: 2,
            area: ['700px', '530px'],
            fixed: false, //不固定
            maxmin: true,
            content: url
        });
        layer.full(index);
      }
    });

    //删除文章
	$('.del_btn').click(function(){
      var id = $(this).attr('id');
      var status = $(this).attr('status');
    	if(status==1){
    		layer.msg('您的消息已经推送,请先回收之后再修改', {icon: 5});
    	}else{
      layer.confirm('确定删除这条消息?', function(index){
      loading = layer.load(2, {
      shade: [0.2,'#000'] //0.2透明度的白色背景
      });
      $.post('{:url("Member/Del")}',{'id':id},function(data){
        if(data.code == 200){
         layer.close(loading);
         layer.msg(data.msg, {icon: 1, time: 1000}, function(){
         location.reload();//do something
         });
        }else{
         layer.close(loading);
         layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
        }
      });
     });
      }
    });

    //推送文章
    $('.pub_btn').click(function(){
      var id = $(this).attr('id');
      layer.confirm('确定推送这条消息?', function(index){
      loading = layer.load(2, {
      shade: [0.2,'#000'] //0.2透明度的白色背景
      });
      $.post('{:url("Member/Pub")}',{'id':id},function(data){
        if(data.code == 200){
         layer.close(loading);
         layer.msg(data.msg, {icon: 1, time: 1000}, function(){
         location.reload();//do something
         });
        }else{
         layer.close(loading);
         layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
        }
      });
     });
    });

    //回收文章
    $('.down_btn').click(function(){
      var id = $(this).attr('id');
      layer.confirm('确定回收这条消息?', function(index){
      loading = layer.load(2, {
      shade: [0.2,'#000'] //0.2透明度的白色背景
      });
      $.post('{:url("Member/stop")}',{'id':id},function(data){
        if(data.code == 200){
         layer.close(loading);
         layer.msg(data.msg, {icon: 1, time: 1000}, function(){
         location.reload();//do something
         });
        }else{
         layer.close(loading);
         layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
        }
      });
     });
    });
	form.on('checkbox(checkAll)',function(data){
		var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
		child.each(function(index,item){
			item.checked = data.elem.checked;
		});
		form.render('checkbox');
	 });
  });

</script>
{include file="public/footer" /}

