<div class="layui-form-item">
  <label class="layui-form-label" style="padding-right:10px">学历</label>
  <div class="layui-input-block">
   <input type="text" name="educate1" lay-verify="educate1" autocomplete="off" placeholder="请输入学历" class="layui-input" style="width:300px;" id="educate1" >
  </div>
</div>
<div class="layui-form-item">
<label class="layui-form-label" style="padding-right:10px">年级</label>
 <div class="layui-input-block">
  <input type="text" name="degree" lay-verify="degree" autocomplete="off" placeholder="请输入年级(一年级/二年级/三年级)" class="layui-input" style="width:300px;" id="degree" >
 </div>
</div>
<div class="layui-form-item">
<label class="layui-form-label" style="padding-right:10px">专业</label>
<div class="layui-input-block">
  <input type="text" name="major1" lay-verify="major1" autocomplete="off" placeholder="请输入专业" class="layui-input" style="width:300px;" id="major1" >
</div>
</div>
<div class="layui-form-item">
 <label class="layui-form-label" style="padding-right:10px">研究方向</label>
 <div class="layui-input-block">
     <input type="text" name="area1" lay-verify="area1" autocomplete="off" placeholder="请输入研究方向" class="layui-input" style="width:300px;" id="area1" >
 </div>
</div>
 <div class="layui-form-item" >
          <label class="layui-form-label" style="padding-right:10px">邮箱</label>
          <div class="layui-input-block">
            <input type="text" name="email1" autocomplete="off" placeholder="请输入邮箱" class="layui-input" style="width:300px;" id="email1" >
          </div>
          </div>