<div class="layui-form-item">
  <label class="layui-form-label" style="padding-right:10px">管理者</label>
  <div class="layui-input-block">
    <input type="radio" name="manager" value="1" title="是" >
    <input type="radio" name="manager" value="0" title="否" checked="">
  </div>
</div>
<div class="layui-form-item">
 <label class="layui-form-label" style="padding-right:10px">研究方向</label>
 <div class="layui-input-block">
     <input type="text" name="area" lay-verify="area" autocomplete="off" placeholder="请输入研究方向" class="layui-input" style="width:300px;" id="area" >
 </div>
</div>
  <div class="layui-form-item" >
    <label class="layui-form-label" style="padding-right:10px">头衔</label>
    <div class="layui-input-block">
        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入头衔" class="layui-input" style="width:300px;" id="title" >
    </div>
 </div> 
      
          <div class="layui-form-item" >
          <label class="layui-form-label" style="padding-right:10px">邮箱</label>
          <div class="layui-input-block">
            <input type="text" name="email"  autocomplete="off" placeholder="请输入邮箱" class="layui-input" style="width:300px;" id="area" >
          </div>
          </div>
 <div class="layui-form-item layui-form-text">
	<label class="layui-form-label" style="padding-right:10px">主要成就</label>
	<div class="layui-input-block">
		<textarea id="content" type="text/plain" name="content" style="width:100%;"></textarea>
	</div>
</div>